<!DOCTYPE html>
<html>
  <head>
    <title>名工大生の備忘録</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <footer>
      <div id="copyright">(C) 2020-2022 名古屋工業大学生協学生委員会 All rights reserved.</div>
      <div class="disclaimer">謎解きゲーム「名工大生の備忘録」専用ページです。このページの内容は実在の人物・団体とは関係ありません。</div>
    </footer>
  </body>
</html>
