<!DOCTYPE html>
<html>
<head>
    <title>STEP2｜名工大生の備忘録</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <main class="container">
        <h1>入学手続きサイト</h1>
        <p>入学手続きでは所定のWebフォームで大学生活で楽しみにしていることを入力することが必要です。<br />
        フォームへのアクセス方法は暗号化されていますので以下の内容をご確認ください。</p>
        <img class="mb-3" src="/images/step2-mystery.png" alt="step2">
        <form>
            <div class="mb-3">
                <label for="step2-answer" class="form-label">暗号化解除キー(すべてひらがなで入力)</label>
                <input type="text" class="form-control" id="step2-answer" placeholder="暗号化解除キーをひらがなで入力">
            </div>
            <button type="submit" class="btn btn-primary">暗号化キーを送信</button>
        </form>
    </main>
</body>
</html>
