<!DOCTYPE html>
<html>
<head>
    <title>STEP2｜名工大生の備忘録</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <main class="container">
        <h1>入学手続きサイト</h1>
        <p>
            当サイトは2022年度に最新のものへ更新されました。<br />
            お手数ですが以下のリンクからご確認ください。
        </p>
        <div class="alert alert-warning" role="alert">
            みんながこのページにたどり着いたことを確認してからこの下を確認しよう！
        </div>
        <button type="button" class="btn btn-primary">入学手続き要項(2022) (PDFファイル)</button>
        <button type="button" class="btn btn-primary">2022年度用入学手続きサイト</button>
    </main>
</body>
</html>
