<!DOCTYPE html>
<html>
<head>
    <title>STEP4｜名工大生の備忘録</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/step4-submission.js"></script>
</head>
<body>
    <main class="container">
        <h1>2022年度 入学手続きサイト</h1>
        <p>以下の必要事項を全て埋めて送信してください</p>
        <form>
            <div class="mb-3">
                <label for="group-num" class="form-label">班番号</label>
                <input type="text" class="form-control" id="group-num" placeholder="班番号">
            </div>
            <div class="mb-3">
                <label for="hobby" class="form-label">大学生活で楽しみなこと</label>
                <input type="text" class="form-control" id="hobby" placeholder="大学生活で楽しみなこと">
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">識別用ID</label>
                <input type="text" class="form-control" id="pass" placeholder="識別用ID">
                <div>※ご不明な場合は学務課にお問い合わせください</div>
                <div>※digitalではありません</div>
            </div>
            <button id="step4-check" type="button" class="btn btn-primary">送信</button>
        </form>
    </main>
</body>
</html>
