<!DOCTYPE html>
<html>
<head>
    <title>STEP3｜名工大生の備忘録</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <main class="container">
        <h1>2022年度 入学手続きサイト</h1>
        <p>手続きを開始するために「入学手続きについて」を参考にパスワードを入力してください。</p>
        <form>
            <div class="mb-3">
                <label for="step3-answer" class="form-label">暗号化解除キー(すべてひらがなで入力)</label>
                <input type="password" class="form-control" id="step3-answer" placeholder="パスワード">
            </div>
            <button type="submit" class="btn btn-primary">認証</button>
        </form>
    </main>
</body>
</html>
